<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pagina di cancellazione</title>
    <meta name="description" content="Pagina di inserimento">
    <meta name="keywords" content="Insert">
    <meta name="author" content="Denis Fabris">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/bootstrap.min.css'>
</head>

<body>
    <div class="row p-2 mb-3 bg-dark shadow">
        <h1 class="text-center text-light col">CANCELLAZIONE</h1>
    </div>
    <div class="container">
        <form method="post" action="/api/DeleteUser/<%= _id %>" target="__blank">
            <div class="card col mb-2 bg-secondary shadow">
                <div class="card-body">
                    <h3 class="card-title text-center"><%= _id %></h5>
                    <h5 class="card-title text-center"><%= FirstName %> <%= LastName %></h5>
                    <p class="card-text text-center"><strong>Città: </strong><%= City %></p>
                    <p class="card-text text-center"><strong>Compleanno </strong><%= BirthDate %></p>
                    <button class="btn btn-danger col" type="submit">CANCELLA</button>
                </div>
            </div>
        </form>
    </div>

    <script src="/script/bootstrap.min.js"></script>
</body>

</html>